<!-- TODO: duplicate with cart html template -->
<template name="checkout">
	<h2> Your Cart </h2>
	{{#autoForm collection="OrderDB" id="insertPostForm" type="insert"}}
	<ol>
		<li><button>Shipping Address</button><div id="co_sa"></div></li>
		<li><button>Payment Options</button><div id="co_po">co_po</div></li>
		<li><button>Review Item and Shipping Options</button><div id="co_riso">{{> orderlist}}</div></li>
		<li><button>Pay Now</button></li>
	</ol>
	{{/autoForm}}
</template>

<template name="orderlist">
	<ul>
		{{#each orders}}
		<li> 
				{{>quickForm id=genid type="update-pushArray" collection=OrderDB doc=this scope="orderList"}}
				{{name}} @ {{rp price}} x {{qt}} = {{rp (calc price qt)}}
		</li>
		{{/each}}	
	</ul>
</template>